@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


body {
  font-family: 'Outfit', sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}


.btn-primary {
  background-color: #4a148c;
  color: white;
  border-radius: 6px;
}
.btn-primary:hover {
  background-color: #6a1b9a;
}

